<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873223081579-6fchsipheqnhidoknfm76qrjfr43ub89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873223081579-6fchsipheqnhidoknfm76qrjfr43ub89</string>
	<key>API_KEY</key>
	<string>AIzaSyCcRMpiF3RBnTJGMOA6MEZru9mNSLrP4LE</string>
	<key>GCM_SENDER_ID</key>
	<string>873223081579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrMenu</string>
	<key>PROJECT_ID</key>
	<string>qr-menu-dbb2f</string>
	<key>STORAGE_BUCKET</key>
	<string>qr-menu-dbb2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873223081579:ios:d00733a858e3fea8d6eb2e</string>
</dict>
</plist>